/*
 * Cornix -> Lunatic dactyl-6x4-trackball ZMK keymap
 *
 * Layer behavior:
 * - Hold &mo 2 + trackball = vertical scroll
 * - Hold &mo 3 + trackball = horizontal scroll
 *
 * Scroll speed:
 * - Uses &zip_scroll_scaler 1 2, meaning roughly half speed.
 */

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener {
    input-processors = <&zip_xy_scaler 2 1>;
};

&msc_input_listener {
    input-processors = <&zip_scroll_scaler 1 2>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off {
    hold-time-ms = <3000>;
};

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

/ {
    input_processors {
        xy_to_horizontal_scroll_mapper: xy_to_horizontal_scroll_mapper {
            compatible = "zmk,input-processor-code-mapper";
            #input-processor-cells = <0>;
            type = <INPUT_EV_REL>;

            /*
             * Horizontal scroll layer:
             * - Trackball X -> horizontal wheel
             * - Trackball Y -> horizontal wheel too
             *
             * Mapping Y too is intentional because your vertical scroll axis
             * already works reliably, so this makes &mo 3 easier to test/use.
             */
            map = <
                INPUT_REL_X INPUT_REL_HWHEEL
                INPUT_REL_Y INPUT_REL_HWHEEL
            >;
        };
    };
};

&trackball_listener {
    vertical_scroll {
        layers = <2>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_scaler 1 2>;
    };

    horizontal_scroll {
        layers = <3>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&xy_to_horizontal_scroll_mapper>,
            <&zip_scroll_scaler 1 2>;
    };
};

/ {
    behaviors {
        Scroll_D_U: Scroll_D_U {
            compatible = "zmk,behavior-sensor-rotate";
            label = "SCROLL_D_U";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };

        Scroll_LR: Scroll_LR {
            compatible = "zmk,behavior-sensor-rotate";
            label = "SCROLL_LR";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
                &kp ESC    &kp Q     &kp W     &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
                &kp TAB    &kp A     &kp S     &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
                &kp LSHFT  &kp Z     &kp X     &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp LS(BSLH)
                                      &kp SPACE &kp LCTRL  &kp LGUI   &mo 1          &mkp MB1   &mo 2      &mo 3      &kp LBKT    &kp RBKT   &kp ENTER
            >;
            sensor-bindings = <&Scroll_D_U>, <&Scroll_D_U>;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
                &kp ESC  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)    &kp LS(N4)  &kp LS(N5)       &kp LS(N6)     &kp LS(N7)     &kp LS(N8)     &kp LS(N9)   &kp LS(N0)    &kp LS(BSLH)
                &none    &none       &none       &kp LS(BSLH)  &kp SEMI    &kp MINUS        &kp EQUAL      &kp LS(EQUAL)  &kp LBKT       &kp RBKT     &kp LS(SEMI)  &kp LS(SQT)
                &none    &none       &none       &none         &mkp MB2    &mkp MB1         &kp MINUS      &kp LS(MINUS)  &kp LS(COMMA)  &kp LS(DOT)  &kp LS(FSLH)  &kp GRAVE
                                       &none       &none         &none       &none            &none          &kp BSPC       &none          &none        &none         &none
            >;
            sensor-bindings = <&Scroll_LR>, <&Scroll_LR>;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
                &kp LS(GRAVE)  &kp N1    &kp N2         &kp N3         &kp N4         &kp N5          &kp N6      &kp N7         &kp N8     &kp N9    &kp N0    &kp BSPC
                &none          &kp N4    &kp LS(LBKT)   &kp LS(RBKT)   &kp LS(LBKT)   &kp LS(RBKT)    &kp LEFT    &kp DOWN       &kp UP     &kp RIGHT &kp LBKT  &kp RBKT
                &none          &none     &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP   &msc SCRL_RIGHT &kp MINUS   &kp LS(MINUS)  &kp COMMA  &kp DOT   &kp FSLH  &kp GRAVE
                                           &none          &none          &none          &none           &kp SPACE   &none          &none      &none     &none     &none
            >;
            sensor-bindings = <&inc_dec_kp 0 0>, <&inc_dec_kp 0 0>;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
                &none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5       &kp F6    &kp F7    &kp F8  &kp F9     &kp F10  &kp F11
                &none  &none   &none   &none   &none   &none        &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none    &none
                &none  &none   &none   &none   &none   &none        &none     &none     &none   &none      &none    &none
                                &none   &none   &none   &none        &none     &none     &none   &none      &none    &none
            >;
            sensor-bindings = <&inc_dec_kp 0 0>, <&inc_dec_kp 0 0>;
        };

        opt2_layer {
            display-name = "Opt2";
            bindings = <
                &none  &none  &none  &none  &none  &none       &none  &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none  &none       &none  &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none  &none       &none  &none  &none  &none  &none  &none
                              &none  &none  &none  &none       &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
